.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.cart-image{
  width: 70px;
  position: absolute;
  right: 30px;
  top: 50px;
}
.item-container img{
  width:100px;
}
.box-container{
  display: flex;
  border: 1px solid #808080;
  width: 40%;
  margin-left: 10%;
  box-shadow: 1px 1px 7px 2px #808080;
}
.item-detail{
  margin: auto;
  display: grid;
}
.item-detail span{
  padding: 5px 0px 5px 0px;
  font-size: 13px;
  font-family: sans-serif;
}
.item-detail button{
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: deeppink;
  cursor: pointer;
}
.cart-count{
  position: absolute;
  top: 57px;
  right: 30px;
  z-index: 1;
  background-color: red;
  width: 30px;
  border-radius: 50%;
  height: 28px;
  text-align: center;
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
